<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KKTFCVE23L"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KKTFCVE23L');
</script>

<link rel="icon" href="{{ site.favicon }}">

<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon-bot.jpeg">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-bot.jpeg">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-bot.jpeg">

<!-- Bug Easter Egg -->
<link rel="stylesheet" href="/assets/css/bug-easter-egg.css">
<script src="/assets/js/bug-easter-egg.js"></script>

<!-- end custom head snippets -->
