---
layout: base
---

{% assign site_title = site.title %}
{% assign site_description = site.description %}

{% if page.title %}{% assign here_title = page.title | strip_html | site.url false | to_str %}
  {% assign site_title = page.title %}
{% elsif collection.label %}{% assign here_title = collection.label %}
{% elsif page.type and page.type != "pages" %}{% assign here_title = page.type %}
{% endif %}

{% if page.excerpt %}{% assign here_desc = page.excerpt | strip_html | normalize_whitespace %}
  {% assign site_description = page.excerpt %}
{% else %}{% assign here_desc = site.description %}
{% endif %}

{% if page.categories %}{% assign here_cats = page.categories | normalize_whitespace %}{% endif %}
{% if page.tags %}{% assign here_tags = page.tags | normalize_whitespace %}{% endif %}

{% if seo %}{% assign seo_title = site_title | append: " - " | append: seo.title %}
    {% include seo.html %}
{% endif %}

{% if page.sidebar.nav %}
  {% assign has_nav = true %}
{% else %}
  {% assign sidebar_min_width = "1" %}
{% endif %}

{% include masthead.html %}
{% include custom-head.html %}
{% include left-sidebar.html %}
{% include main.html %}
{% include right-sidebar.html %}
